@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@media print {
  nav, footer, .no-print {
    display: none !important;
  }

  body {
    background: white !important;
    color: black !important;
  }

  a {
    color: black !important;
    text-decoration: none !important;
  }
}